@import '~@angular/material/theming';

.filters {
  padding: 20px;
  border-bottom: 1px solid #fff;
  display: flex;
}

.controls {
  display: flex;
}

.button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 15px;
}

.record {
  background-color: #000;
  border: 2px solid #000;

  &:hover {
    background-color: #232323;
    border: 2px solid #232323;
  }

  &-active {
    background-color: red;
    border: 2px solid red;

    &:hover {
      background-color: #ff4548;
      border: 2px solid #ff4548;
    }
  }
}

.clear {
  position: relative;
  border: 2px solid #000;

  &:hover {
    border-color: #232323;
  }


  &:after {
    content: '';
    position: absolute;
    height: 100%;
    transform: translate(-50%, 0) rotate(45deg);
    background-color: #000;
    width: 2px;
    top: 0;
    left: 50%;
  }
}
